.container {
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.header>div>input {
    height: 28px;
}

.header>div>button {
    height: 30px;
    width: 88px;
    cursor: pointer;
}

.stock-list {
    margin-top: 20px;
}

.item-header {
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center;
    font-weight: bold;
}

.item-header>div {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.item-header>div:last-child {
    flex: 0 0 133px;
    min-width: 133px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
}

.list>div:hover {
    background-color: #ffeaa7 !important;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list>div>div {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.list>div>div:last-child {
    flex: 0 0 133px;
    min-width: 133px;
}

.list>div>div>button {
    border: unset;
    background-color: unset;
    color: blue;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}

.stock-chart, .stock-data {
    position: fixed;
    background-color: #8d8a8a61;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    align-items: center;
}

#figure {
    width: 720px;
    height: 590px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#data-tips {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 720px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#data-tips>.header {
    font-size: larger;
    font-weight: bold;
}

#data-tips>div {
    display: flex;
    flex-direction: column;
}

#data-tips>div>.title {
    font-size: large;
    font-weight: bold;
}

#data-tips>div>.value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    gap: 8%;
    align-items: center;
}

#data-tips>div>.value>div>.value-text {
    font-weight: bold;
    margin-left: 8px;
}

#data-tips>div>.value>div>img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.three-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: monospace;
}

.three-price span {
    display: inline-block;
    width: 10ch;
    text-align: justify;
    align-self: anchor-center;
}

.return-table {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 6px;
}

.return-table>span {
    flex: 1;
    min-width: 0;
    text-align: center;
}
