input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.header-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 8px;
}

.header-filter>div>input {
    height: 28px;
    width: 142px;
}
.header-filter>div>select {
    height: 34px;
    width: 150px;
    appearance: none;
}

.header>div>input {
    height: 28px;
}

.header-actions {
    display: flex;
    gap: 30px;
    align-items: center;
}
button {
    height: 30px;
    width: 88px;
    cursor: pointer;
}

.stock-list {
    margin-top: 20px;
}

.item-header {
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center;
    font-weight: bold;
}

.item-header>div {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.item-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 3fr;
    height: 36px;
    align-items: center;
    font-weight: bold;
}

.list {
    display: flex;
    flex-direction: column;
}

.list>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
}

.lists>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 3fr;
    align-items: center;
    height: 36px;
}
.lists>div > :last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list>div:hover {
    background-color: #ffeaa7 !important;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list>div>div {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.list>div>div>img {
    cursor: pointer;
    width: 13px;
    margin-left: 2px;
    vertical-align: middle;
}

.list>div>div>button {
    border: unset;
    background-color: unset;
    color: blue;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}

.stock-chart, .stock-data {
    position: fixed;
    background-color: #8d8a8a61;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    align-items: center;
}

#figure {
    width: 720px;
    height: 650px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#data-tips {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 720px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#data-tips>.header {
    font-size: larger;
    font-weight: bold;
}

#data-tips>div {
    display: flex;
    flex-direction: column;
}

#data-tips>div>.title {
    font-size: large;
    font-weight: bold;
}

#data-tips>div>.value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    gap: 8%;
    align-items: center;
}

#data-tips>div>.value>div>.value-text {
    font-weight: bold;
    margin-left: 8px;
}

#data-tips>div>.value>div>img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.three-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: monospace;
}

.three-price span {
    display: inline-block;
    width: 10ch;
    text-align: justify;
    align-self: anchor-center;
}

.three-price a {
    text-decoration: none;
    color: blue;
}

.return-table {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 6px;
}

.return-table>span {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.modal_cover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}
.modal_gif {
    display: none;
    position: absolute;
    width: 100px;
    height: 120px;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    overflow:auto;
    overflow-x:hidden;
    background: url("loading.gif") no-repeat;
    background-size: 80px 108px;
}
