.container {
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.header>div>input {
    height: 28px;
}

.header>div>button {
    height: 30px;
    width: 88px;
    cursor: pointer;
}

.stock-list {
    margin-top: 20px;
}

.item-header {
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center;
    font-weight: bold;
}

.item-header>div {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
}

.list>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
}

.list>div:hover {
    background-color: #ffeaa7 !important;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list>div>div {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.list>div>div>button {
    border: unset;
    background-color: unset;
    color: blue;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}

.stock-chart {
    position: fixed;
    background-color: #8d8a8a61;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    align-items: center;
}

#figure {
    width: 720px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
