<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <link rel="icon" type="image/x-icon" href="{{ prefix }}/static/favicon.svg">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container"><div style="display:flex;flex-direction:column;align-items:center;margin-top:5%;font-size:larger;">
        <div><input id="pwd" type="text" autocomplete="off" placeholder="" value="" /> <button onclick="save();">Save</button></div> <br>
        <a href="/" style="color: blue; text-decoration: none;"> 推荐列表 </a> <br>
        <!--a href="/s" style="color: blue; text-decoration: none;"> 每天行情数据 </a><br-->
        <a href="/stock" style="color: blue; text-decoration: none;"> 板块信息列表 </a> <br>
        <a href="/topic" style="color: blue; text-decoration: none;"> 热门题材列表 </a> <br>
    </div></div>
</body>
<script>
    function save() {
        localStorage.setItem("pwd", document.getElementById("pwd").value);
    }
</script>
</html>