<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <link rel="stylesheet" href="{{ prefix }}/static/index.css">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <label>股票名：</label> <input type="text" id="stock-name" placeholder="">
            </div>
            <div>
                <label>股票代码：</label> <input type="text" id="stock-code" placeholder="">
            </div>
            <div>
                <label>排序：</label> <select id="order-by" style="height:34px;width:108px;" onchange="change_select();">
                    <option value="qrr-desc">量比降序</option>
                    <option value="qrr-asc">量比升序</option>
                    <option value="volumn-desc">成交量降序</option>
                    <option value="volumn-asc">成交量升序</option>
                    <option value="turnover_rate-desc">换手率降序</option>
                    <option value="turnover_rate-asc">换手率升序</option>
                    <option value="fund-desc">主力资金降序</option>
                    <option value="fund-asc">主力资金升序</option>
                </select>
            </div>
            <div>
                <button id="search">搜 索</button>
            </div>
            <div>
                <button id="pre-page">上一页</button>
            </div>
            <div>
                <button id="next-page">下一页</button>
            </div>
        </div>
        <div class="stock-list">
            <div class="item-header">
                <div>名称</div>
                <div>代码</div>
                <div>当前价</div>
                <div>涨幅</div>
                <div>振幅</div>
                <div>成交量</div>
                <div>量比</div>
                <div>换手率</div>
                <div>主力资金</div>
            </div>
            <div class="list"></div>
        </div>
        <div class="stock-chart"><div id="figure"></div></div>
        <div class="stock-data"><div id="data-tips"></div></div>
    </div>
</body>
<script src="{{ prefix }}/static/index.js"></script>
<script src="{{ prefix }}/static/echarts.min.js"></script>
<script src="{{ prefix }}/static/plot.js"></script>
</html>