<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ prefix }}/static/favicon.svg">
    <link rel="stylesheet" href="{{ prefix }}/static/index.css">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-filter">
                <div>
                    <label>名称：</label> <input type="text" id="stock-name" placeholder="" autocomplete="off">
                </div>
                <div>
                    <label>代码：</label> <input type="text" id="stock-code" placeholder="" autocomplete="off">
                </div>
                <div>
                    <label>排序：</label> <select id="order-by" onchange="change_select();">
                        <option value="-qrr">量比降序</option>
                        <option value="+qrr">量比升序</option>
                        <option value="-volumn">成交量降序</option>
                        <option value="+volumn">成交量升序</option>
                        <option value="-turnover_rate">换手率降序</option>
                        <option value="+turnover_rate">换手率升序</option>
                        <option value="-fund">主力资金降序</option>
                        <option value="+fund">主力资金升序</option>
                    </select>
                </div>
            </div>
            <div class="header-filter">
                <div>
                    <button id="pre-page">上一页</button>
                </div>
                <div>
                    <button id="next-page">下一页</button>
                </div>
            </div>
        </div>
        <div class="stock-list">
            <div class="item-header">
                <div>名称</div>
                <div>代码</div>
                <div>当前价</div>
                <div>涨幅</div>
                <div>振幅</div>
                <div>成交量</div>
                <div>量比</div>
                <div>换手率</div>
                <div>主力资金</div>
            </div>
            <div class="list"></div>
        </div>
        <div class="stock-chart"><div id="figure"></div></div>
        <div class="stock-data"><div id="data-tips"></div></div>
        <div class="modal_cover"><div class="modal_gif"></div></div>
    </div>
</body>
<script src="{{ prefix }}/static/index.js"></script>
<script src="{{ prefix }}/static/echarts.min.js"></script>
<script src="{{ prefix }}/static/plot.js"></script>
</html>