<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <link rel="stylesheet" href="{{ prefix }}/static/index.css">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <label>股票名：</label> <input type="text" id="stock-name" placeholder="">
            </div>
            <div>
                <label>股票代码：</label> <input type="text" id="stock-code" placeholder="">
            </div>
            <div>
                <button id="search">搜 索</button>
            </div>
            <div>
                <button id="pre-page">上一页</button>
            </div>
            <div>
                <button id="next-page">下一页</button>
            </div>
        </div>
        <div class="stock-list">
            <div class="item-header">
                <div>名称</div>
                <div>代码</div>
                <div>当前价</div>
                <div>成交量</div>
                <div>3日均线</div>
                <div>5日均线</div>
                <div>10日均线</div>
                <div>20日均线</div>
                <div>量比</div>
                <div>操作</div>
            </div>
            <div class="list"></div>
        </div>
        <div class="stock-chart"><div id="figure"></div></div>
    </div>
</body>
<script src="{{ prefix }}/static/index.js"></script>
<script src="{{ prefix }}/static/echarts.min.js"></script>
<script src="{{ prefix }}/static/plot.js"></script>
</html>