<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <link rel="icon" type="image/x-icon" href="{{ prefix }}/static/favicon.svg">
    <link rel="stylesheet" href="{{ prefix }}/static/index.css">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-filter">
                <div>
                    <label>名称：</label> <input type="text" id="stock-name" placeholder="">
                </div>
                <div>
                    <label>代码：</label> <input type="text" id="stock-code" placeholder="">
                </div>
                <div>
                    <label>标签：</label> <select id="filter-by" onchange="change_select();">
                        <option value=""></option>
                        <option value="sww">十五五规划</option>
                    </select>
                </div>
                <div>
                    <label>地区：</label> <input type="text" id="stock-region" placeholder="">
                </div>
                <div>
                    <label>行业：</label> <input type="text" id="stock-industry" placeholder="">
                </div>
                <div>
                    <label>概念：</label> <input type="text" id="stock-concept" placeholder="">
                </div>
            </div>
            <div class="header-actions">
                <div>
                    <button id="search">搜 索</button>
                </div>
                <div>
                    <button id="pre-page">上一页</button>
                </div>
                <div>
                    <button id="next-page">下一页</button>
                </div>
            </div>
        </div>
        <div class="stock-list">
            <div class="item-header item-headers">
                <div>名称</div>
                <div>代码</div>
                <div>地区</div>
                <div>行业</div>
                <div>概念</div>
            </div>
            <div class="list lists"></div>
        </div>
        <div class="stock-chart"><div id="figure"></div></div>
        <div class="stock-data"><div id="data-tips"></div></div>
        <div class="modal_cover"><div class="modal_gif"></div></div>
    </div>
</body>
<script src="{{ prefix }}/static/stock.js"></script>
<script src="{{ prefix }}/static/echarts.min.js"></script>
<script src="{{ prefix }}/static/plot.js"></script>
</html>