<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ prefix }}/static/favicon.svg">
    <link rel="stylesheet" href="{{ prefix }}/static/index.css">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-filter">
                <div>
                    <button id="hot-topic" onclick="getCurrentTopic();">热点题材</button>
                </div>
                <div>
                    <button id="pre-page">上一页</button>
                </div>
                <div>
                    <button id="next-page">下一页</button>
                </div>
            </div>
        </div>
        <div class="stock-list">
            <div class="item-header">
                <div style="flex:none;width:20%;">日期</div>
                <div style="flex:none;width:80%;">热门题材</div>
            </div>
            <div class="list"></div>
        </div>
        <div class="stock-data"><div id="data-content" style="max-height:80%;overflow-y:auto;top:43%;left:50%;position:relative;transform: translate(-50%,-50%);background-color:white;box-shadow:0 4px 10px rgba(0, 0, 0, 0.3);;"></div></div>
        <div class="modal_cover"><div class="modal_gif"></div></div>
    </div>
</body>
<script>
    const pageSize = 20;
    let page = 1;
    const originalFetch = window.fetch;
    window.fetch = function(url, options = {}) {
    const defaultHeaders = {'referered': localStorage.getItem("pwd")};
    const headers = {...defaultHeaders,...(options.headers || {})};
    return originalFetch(url, {...options,headers});
    };

    document.getElementById("pre-page").addEventListener("click", () => {
        page -= 1;
        if (page <= 1) {
            document.getElementById("pre-page").disabled = 'true';
            document.getElementById("next-page").disabled = '';
        }
        getStockList();
    })

    document.getElementById("next-page").addEventListener("click", () => {
        page += 1;
        if (page > 1) {document.getElementById("pre-page").disabled = '';}
        getStockList();
    })

    function getStockList() {
        let url = `${prefix}/topic/list?pageSize=20&page=${page}`;
        fetch(url)
            .then(res => res.json())
            .then(data => {
                let s = ""
                data.data.forEach(item => {
                    s += `<div id="${item.key}" class="item-list"><div style="flex:none;width:20%;">${item.key}</div><div id="topic-${item.key}" style="flex:none;width:80%;" onclick="show_concept('${item.key}')">${item.value}</div></div>`;
                })
                document.getElementsByClassName("list")[0].innerHTML = s;
                if (page === parseInt((data.total + pageSize -1) / pageSize)) {
                    document.getElementById("next-page").disabled = 'true';
                }
            })
    }

    function getCurrentTopic() {
        show_modal_cover();
        let url = `${prefix}/topic/get`;
        fetch(url)
            .then(res => res.json())
            .then(data => {
                document.getElementById("data-content").style.width = '80%';
                document.getElementById("data-content").innerText = data.data;
                document.getElementsByClassName("stock-data")[0].style.display = "flex";
            })
            .finally(() => {close_modal_cover();})
    }

    function show_concept(code) {
        let url = `${prefix}/topic/file?code=${code}`;
        fetch(url)
            .then(res => res.json())
            .then(data => {
                document.getElementById("data-content").style.width = '80%';
                document.getElementById("data-content").innerText = data.data;
                document.getElementsByClassName("stock-data")[0].style.display = "flex";
            })
    }

    document.getElementById("pre-page").disabled = 'true';
    getStockList();

    const overlay_data = document.querySelector('.stock-data');
    overlay_data.addEventListener('click', function(event) {
        if (event.target === overlay_data) {overlay_data.style.display = 'none';}
    });

    function show_modal_cover() {document.querySelectorAll('.modal_cover')[0].style.display = 'flex';document.querySelectorAll('.modal_cover>.modal_gif')[0].style.display = 'flex';}
    function close_modal_cover() {document.querySelectorAll('.modal_cover')[0].style.display = 'none';document.querySelectorAll('.modal_cover>.modal_gif')[0].style.display = 'none';}

</script>
</html>