<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ prefix }}/static/favicon.svg">
    <link rel="stylesheet" href="{{ prefix }}/static/index.css">
    <script>
        const prefix = "{{ prefix }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-filter">
                <div>
                    <button id="pre-page">上一页</button>
                </div>
                <div>
                    <button id="next-page">下一页</button>
                </div>
            </div>
        </div>
        <div class="stock-list">
            <div class="item-header">
                <div>日期</div>
                <div>热门题材</div>
            </div>
            <div class="list"></div>
        </div>
    </div>
</body>
<script>
    const pageSize = 20;
    let page = 1;
    const originalFetch = window.fetch;
    window.fetch = function(url, options = {}) {
    const defaultHeaders = {'referered': localStorage.getItem("pwd")};
    const headers = {...defaultHeaders,...(options.headers || {})};
    return originalFetch(url, {...options,headers});
    };

    document.getElementById("pre-page").addEventListener("click", () => {
        page -= 1;
        if (page <= 1) {
            document.getElementById("pre-page").disabled = 'true';
            document.getElementById("next-page").disabled = '';
        }
        getStockList();
    })

    document.getElementById("next-page").addEventListener("click", () => {
        page += 1;
        if (page > 1) {document.getElementById("pre-page").disabled = '';}
        getStockList();
    })

    function getStockList() {
        let url = prefix + `/topic/list?pageSize=20&page=${page}`;
        fetch(url)
            .then(res => res.json())
            .then(data => {
                let s = ""
                data.data.forEach(item => {
                    s += `<div id="${item.key}" class="item-list"><div>${item.key}</div><div>${item.value}</div></div>`;
                })
                document.getElementsByClassName("list")[0].innerHTML = s;
                if (page === parseInt((data.total + pageSize -1) / pageSize)) {
                    document.getElementById("next-page").disabled = 'true';
                }
            })
    }
    document.getElementById("pre-page").disabled = 'true';
    getStockList();

</script>
</html>